body {
  background-color: #e1e2e1;
}

.cabecalho {
  padding: 10px 5px;
  background-color: #69f0ae;
}

.cabeçalho .logo {
  display: inline-block;
}

.cabecalho nav {
  float: right;
}

.cabecalho nav li {
  display: inline-block;
  padding: 15px;
}

main {
  background-color: #fff;
  padding: 30px;
  /* width: 900px; */
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
}

main .info {
  font-size: 18px;
}

main p {
  font-size: 16px;
}

img {
  width: 100%;
}

/* dispositivos extra pequenos (celulares em posição porta retrato,
menores do que 576px)  */
@media (max-width: 576px) {
  .cabecalho {
    text-align: center;
  }

  .cabecalho nav {
    float: none;
  }

  .cabecalho nav li {
    display: block;
  }
}

/* dispositivos pequenos (celulares em posição paisagem,
menos  de 768px) */
@media (max-width: 768px) {
}

/* dispostivos médios (tablets, menos de 992px)  */
@media (max-width: 992px) {
}

/* dispostivos grandes (desktops, menos de 1200px)  */
@media (max-width: 1200px) {
}

/* dispositivos extra grandes (desktops grandes)
1200px ou mais, não tem breakpoint */
